.accordion {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 0px;
}

@media screen and (max-width: 479px) {
  .accordion {
    margin-bottom: 0px;
  }
}

.accordion_toggle {
  position: relative;

  display: flex;
  width: 100%;
  height: 74px;
  padding: 0px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);

  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .accordion_toggle {
    height: 84px;
    padding: 1rem 0px;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .accordion_toggle.link-hover-ix {
    height: 84px;
  }
}

.faq_text {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  color: #fefefe;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-transform: none;
  white-space: normal;
  word-break: normal;

  user-select: none;
}

@media screen and (max-width: 991px) {
  .faq_text {
    font-size: 1.0625rem;
    line-height: 1.625rem;
  }
}

@media screen and (max-width: 767px) {
  .faq_text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .faq_text {
    font-size: 1rem;
    white-space: normal;
  }
}

.plus_icon {
  position: absolute;
  right: 0px;

  width: 1.5rem;
  margin-right: 0px;

  transition: transform 200ms cubic-bezier(.25, .46, .45, .94);

  color: var(--text-color--text-secondary);
}

@media screen and (max-width: 479px) {
  .plus_icon {
    position: relative;
    width: 1.5rem;
    min-width: 1.5rem;
    margin-right: 0px;
  }
}

.accordion_panel {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 200ms cubic-bezier(.25, .46, .45, .94);
}

@media screen and (max-width: 479px) {
  .accordion_panel {
    max-height: 0px;
  }
}

.faqs_wrapper {
  display: flex;
  max-width: 90%;
  margin-bottom: 2rem;
  padding-top: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

@media screen and (max-width: 991px) {
  .faqs_wrapper {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .faqs_wrapper {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .faqs_wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.faq-panel-text {
  font-family: neue-haas-grotesk-display;
  color: #fefefe;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .faq-panel-text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 479px) {
  .faq-panel-text {
    font-size: 0.8rem;
  }
}