.case_study-challenge-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 1.75rem;
  grid-row-gap: 1.75rem;
}

@media screen and (max-width: 479px) {
  .case_study-challenge-list {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.challenge_number {
  min-width: 2rem;

  font-family: var(--primary-font);
  color: rgba(254, 254, 254, 0.2);
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
}

.text-weight-medium {
  font-weight: 500;
}

.text-size-large {
  font-size: 1.5rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .text-size-large {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .text-weight-medium.text-size-large.for-mobile {
    font-size: 0.5rem !important;
  }
}