@media screen and (max-width: 479px) {
  .section_case_study-hero {
    padding-top: 4.6rem;
  }
}

.padding-global {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-section-top {
  padding-top: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-top {
    padding-top: 2.5rem;
  }
}

.padding-left {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-medium {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-vision {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-small {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-section-small.is-footer {
  padding-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-small.is-footer {
    padding-bottom: 0.5rem;
  }
}

.padding-global.is-footer-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-style: solid;
  border-width: 2px 0px 0px;
  border-color: #333;
}

@media screen and (max-width: 479px) {
  .padding-global.is-footer-bottom {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.padding-section-bottom {
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-bottom {
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-blog-large {
  padding-top: 12rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-blog-large {
    padding-top: 8rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.is-wedesh-image-padding {
  padding-top: 8rem;
  padding-bottom: 15rem;
}

@media screen and (max-width: 479px) {
  .padding-global.is-wedesh-image-padding {
    padding-top: 2.5rem;
    padding-bottom: 16rem;
  }
}

.container-xlarge {
  width: 100%;
  max-width: 84rem;
  margin-right: auto;
  margin-left: auto;
}

.container-xlarge.is-case_study-hero {
  margin-top: 3.25rem;
}

@media screen and (max-width: 479px) {
  .container-xlarge.is-case_study-hero {
    margin-top: 1.25rem;
  }
}

.case_study-hero-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .case_study-hero-header {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.case_study-hero-image {
  position: relative;
  width: 100%;
  height: 38rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .case_study-hero-image {
    height: 13rem;
    border-radius: 0.5rem;
  }
}

.parallax-image-container {
  position: relative;
  overflow: hidden;
}

.parallax-image {
  position: absolute;
  width: 100%;
  height: 130%;
  object-fit: cover;
}