.case_study-image {
  position: relative;
  width: 100%;
  height: 38rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .case_study-image {
    height: 20rem;
    border-radius: 0.5rem;
  }
}

.case_study-image.is-secondary-image {
  height: 34rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-secondary-image {
    height: 13rem;
  }
}

.parallax-image-container {
  position: relative;
  overflow: hidden;
}

.case_study-image.is-rectangular-ratio {
  height: 52rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-rectangular-ratio {
    height: 13rem;
  }
}

.case_study-image.is-icon-image {
  width: 15rem;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-icon-image {
    width: 7rem;
  }
}

.case_study-image.is-folioex-img-3 {
  height: 38rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-folioex-img-3 {
    height: 13rem;
  }
}

.case_study-image.is-paperboat-1 {
  height: 34.25rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-paperboat-1 {
    height: 13rem;
  }
}

.case_study-image.is-21-9-ratio {
  height: 35rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-21-9-ratio {
    height: 13rem;
  }
}

.case_study-image.is-auto-height {
  height: auto;
}

.case_study-image.is-auto-height.image-reveal.is-wedesh {
  z-index: 2;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.image-reveal.is-wedesh {
    max-width: 60%;
  }
}

.case_study-image.is-auto-height.is-livx-13 {
  width: auto;
  max-width: 51.5rem;
}

.case_study-image.is-auto-height.is-equipp-2 {
  top: 1.5rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-equipp-2 {
    top: 0rem;
  }
}

.case_study-image.is-auto-height.is-equipp-3 {
  top: 6rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-equipp-3 {
    top: 2rem;
  }
}

.case_study-image.is-auto-height.is-equipp-5 {
  top: 5rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-equipp-5 {
    top: 2rem;
  }
}

.case_study-image.is-auto-height.is-equipp-6 {
  top: 0.5rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-equipp-6 {
    top: auto;
  }
}

.case_study-image.is-auto-height.is-equipp-7 {
  top: 6rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-equipp-7 {
    top: 2rem;
  }
}

.case_study-image.is-auto-height.is-equipp-9 {
  top: 6rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-equipp-9 {
    top: 2rem;
  }
}

.case_study-image.is-auto-height.is-no-radius {
  border-radius: 0rem;
}

.case_study-image.is-auto-height.is-dotme-2 {
  top: 1rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-dotme-2 {
    top: 0rem;
  }
}

.case_study-image.is-auto-height.is-dotme-3 {
  top: 3.8rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-dotme-3 {
    top: 2rem;
  }
}

.case_study-image.is-auto-height.is-dotme-5 {
  top: 3.8rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-dotme-5 {
    top: 2rem;
  }
}

.case_study-image.is-auto-height.is-dotme-6 {
  width: auto;
}

.case_study-image.is-auto-height.is-dotme-7 {
  width: auto;
}

.case_study-image.is-auto-height.is-dotme-8 {
  width: 70%;
  max-width: 70%;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-dotme-8.image-reveal {
    width: 100%;
    max-width: 100%;
  }
}

.case_study-image.is-auto-height.is-dotme-9 {
  position: absolute;
  right: -89%;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-auto-height.is-dotme-9.image-reveal {
    position: static;
  }
}

.case_study-image.is-folioex-img-4 {
  height: 22rem;
}

.case_study-image.is-livx-vertical {
  width: auto;
  height: auto;
  max-width: 24rem;
}

.case_study-image.is-square {
  width: auto;
  height: auto;
  max-width: 22rem;
}

.case_study-image.is-livx-15 {
  width: 100%;
  height: 20rem;
  max-height: 20rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-livx-15 {
    height: auto;
    max-height: none;
  }
}

.case_study-image.is-livx-16 {
  height: 16rem;
  max-height: 16rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-livx-16 {
    height: auto;
    max-height: none;
  }
}

.case_study-image.is-livx-12 {
  width: auto;
  height: 100%;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-livx-12 {
    width: 100%;
  }
}

.case_study-image.is-livx-13 {
  height: auto;
  max-width: 100%;
}

.case_study-image.is-livx-14 {
  width: 20rem;
  height: 20rem;
  max-height: 20rem;
  max-width: 20rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-livx-14 {
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
  }
}

.case_study-image.is-livx-17 {
  width: 16rem;
  height: 16rem;
  max-height: 16rem;
  max-width: 16rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-livx-17 {
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
  }
}

.case_study-image.is-equipp-1 {
  height: 44rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-equipp-1 {
    height: 13rem;
  }
}

.case_study-image.is-fidociary-logo {
  width: auto;
  height: 10rem;
  max-width: none;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-fidociary-logo {
    width: 100%;
    height: auto;
  }
}

.case_study-image.is-fidociary-2 {
  max-width: 50rem;
  min-width: 40rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-fidociary-2 {
    max-width: none;
    min-width: 100%;
  }
}

.case_study-image.is-fidociary-3 {
  max-width: 32rem;
  min-width: 20rem;
}

.case_study-image.is-lvng-1 {
  height: 100%;
  border-radius: 0rem;
  object-fit: fill;
}

.case_study-image.is-lvng-2 {
  height: 52.5rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-lvng-2 {
    height: 13rem;
  }
}

.case_study-image.is-solace-logo {
  width: auto;
  height: 6rem;
  max-width: none;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-solace-logo {
    width: 100%;
    height: auto;
  }
}

.case_study-image.is-solace-svg {
  max-width: 25rem;
  min-width: 15rem;
  object-fit: contain;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-solace-svg {
    max-width: none;
    min-width: auto;
  }
}

.case_study-image.is-solace-svg.image-reveal {
  height: auto;
}

.case_study-image.is-solace-2 {
  height: auto;
  max-width: 45rem;
}

.case_study-image.is-terralapis-2 {
  height: 44.5rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-terralapis-2 {
    height: 13rem;
  }
}

.case_study-image.is-terra-lapis {
  width: auto;
  height: 14.25rem;
  max-width: none;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-terra-lapis {
    width: 100%;
    height: auto;
  }
}

.case_study-image.is-dotme-logo {
  width: auto;
  height: 10rem;
  max-width: none;
  border-radius: 0rem;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-dotme-logo {
    width: 100%;
    height: auto;
  }
}

.case_study-image.is-lvng-logo {
  width: auto;
  height: 12.5rem;
  max-width: none;
}

@media screen and (max-width: 479px) {
  .case_study-image.is-lvng-logo {
    width: 100%;
    height: auto;
  }
}

.case_study-image.is-full-height {
  height: 100%;
}

#w-node-_2b957dc3-c44b-7581-97b0-918c5380e2f5-5380e2f5 {
}