.section_cta {
  position: relative;
  background-color: var(--base-color-brand--secondary-color);
}

.cta_logo {
  position: absolute;
  left: -10.5rem;
  height: 38rem;
  color: #442d87;
}

@media screen and (max-width: 479px) {
  .cta_logo.brandemic-logo-draw {
    left: -5rem;
    height: 18rem;
  }
}

.brandemic_svg-path {
  opacity: 0.15;
  fill: transparent;
  stroke: #5634BC;
  stroke-width: 52px;
}

.brandemic_svg-path.is-brand-color {
  display: none;
  opacity: 100;
  stroke: #38C67F;
}

.brandemic_svg-path.is-purple-2 {
  stroke: #442D87;
}

.padding-global {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-section-top {
  padding-top: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-top {
    padding-top: 2.5rem;
  }
}

.padding-left {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-medium {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-vision {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-small {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-section-small.is-footer {
  padding-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-small.is-footer {
    padding-bottom: 0.5rem;
  }
}

.padding-global.is-footer-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-style: solid;
  border-width: 2px 0px 0px;
  border-color: #333;
}

@media screen and (max-width: 479px) {
  .padding-global.is-footer-bottom {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.padding-section-bottom {
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-bottom {
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-blog-large {
  padding-top: 12rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-blog-large {
    padding-top: 8rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.is-wedesh-image-padding {
  padding-top: 8rem;
  padding-bottom: 15rem;
}

@media screen and (max-width: 479px) {
  .padding-global.is-wedesh-image-padding {
    padding-top: 2.5rem;
    padding-bottom: 16rem;
  }
}

.container-large {
  width: 100%;
  max-width: 84rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .container-large.is-mobile-menu {
    height: 100%;
    max-width: none;
  }
}

.cta_content-wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 3.25rem;
  grid-row-gap: 3.25rem;
}

@media screen and (max-width: 479px) {
  .cta_content-wrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }
}

.cta_text-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .cta_text-wrapper {
    width: 20rem;
    min-width: 20rem;
  }
}

@media screen and (max-width: 479px) {
  .cta_text-wrapper.mobile-hidden {
    display: block;
    width: 20rem;
  }
}

@media screen and (max-width: 479px) {
  .mobile-hidden {
    display: none !important;
  }
}

.cta_text-wrapper.desktop-hidden {
  display: none;
}

@media screen and (max-width: 479px) {
  .cta_text-wrapper.desktop-hidden {
    display: block;
  }
}

.desktop-hidden {
  display: none;
}

@media screen and (max-width: 479px) {
  .desktop-hidden {
    display: block;
  }
}

.cta_single-line-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 479px) {
  .cta_single-line-wrapper {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.cta_paragraph {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  line-height: 3.75rem;
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .cta_paragraph {
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
  }
}

.cta_span-image {
  height: 3rem;
}

@media screen and (max-width: 479px) {
  .cta_span-image {
    height: 1.6rem;
  }
}

.button {
  position: relative;

  overflow: hidden;
  padding: 0.5rem 1rem;

  border: 1.5px solid var(--text-color--text-primary);
  border-radius: 5rem;

  transition: transform 300ms cubic-bezier(.25, .46, .45, .94),border-color 300ms cubic-bezier(.25, .46, .45, .94),color 300ms cubic-bezier(.25, .46, .45, .94);

  color: var(--text-color--text-primary);
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover {
  border-color: var(--base-color-brand--primary-color);
  color: var(--text-color--text-primary);
  text-decoration: none;
}

.button:global(.w--current) {
  color: var(--text-color--text-primary);
}

@media screen and (max-width: 479px) {
  .button {
    padding: 0.3rem 1rem;
    font-size: 0.875rem;
  }
}

.button.is-text {
  border: 2px solid transparent;
  background-color: transparent;
  color: var(--text-color--text-primary);
}

.button.is-text:hover {
  color: var(--link-color--link-primary);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button.is-form-submit {
  margin-top: 5rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--text-color--text-secondary);
  background-color: transparent;
  transition: border-color 300ms cubic-bezier(.55, .085, .68, .53);
  color: var(--text-color--text-secondary);
}

.button.is-secondary:hover {
  color: var(--text-color--text-primary);
}

.button.is-icon-white {
  position: relative;

  display: flex;
  padding: 0.75rem 1.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-width: 0px;

  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .button.is-icon-white {
    padding: 0.3rem 1rem;
  }
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.button.is-icon-green {
  position: relative;

  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-width: 0px;

  color: var(--text-color--text-secondary);
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .button.is-icon-green {
    padding: 0.3rem 1rem;
  }
}

.button.is-icon-green.is-form-submit {
  display: inline-flex;
}

@media screen and (max-width: 479px) {
  .button.is-icon-green.link-hover-ix.mobile-hidden {
    display: none;
  }
}

.button.is-icon-green.link-hover-ix.desktop-hidden {
  display: none;
}

@media screen and (max-width: 479px) {
  .button.is-icon-green.link-hover-ix.desktop-hidden {
    display: flex;
  }
}

.button.is-fill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;

  border-width: 0px;
  border-color: hsla(0, 0.00%, 99.61%, 0.00);
  border-radius: 6.25rem;
}

.button.is-fill:hover {
  color: var(--base-color-brand--dark-color);
}

.button.is-fill.link-hover-ix {
  transition-duration: 300ms, 300ms, 200ms;
}

.button.is-fill.link-hover-ix:hover {
  color: var(--base-color-brand--dark-color);
}

@media screen and (max-width: 479px) {
  .button.is-fill.link-hover-ix.mobile-hidden {
    display: none;
  }
}

.button.is-fill.is-submit-button {
  margin-top: 5rem;
  padding: 0rem;
}

.button.is-fill.is-submit-button:hover {
  color: var(--base-color-brand--dark-color);
}

.button-circle {
  position: absolute;
  left: 0px;

  width: 0%;
  height: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  border: 1.5px solid var(--text-color--text-primary);
  border-radius: 10rem;

  transition: border-color 300ms cubic-bezier(.25, .46, .45, .94);
}

@media screen and (max-width: 479px) {
  .button-circle {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.button-circle.is-green {
  z-index: 0;
  border-color: var(--text-color--text-secondary);
}

.icon-1x1-small {
  height: 0.55rem;
  flex: 0 0 auto;
}