.footer {
  overflow: hidden;
}

.padding-global {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-section-top {
  padding-top: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-top {
    padding-top: 2.5rem;
  }
}

.padding-left {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-medium {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-vision {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-small {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-section-small.is-footer {
  padding-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-small.is-footer {
    padding-bottom: 0.5rem;
  }
}

.padding-global.is-footer-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-style: solid;
  border-width: 2px 0px 0px;
  border-color: #333;
}

@media screen and (max-width: 479px) {
  .padding-global.is-footer-bottom {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.padding-section-bottom {
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-bottom {
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-blog-large {
  padding-top: 12rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-blog-large {
    padding-top: 8rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.is-wedesh-image-padding {
  padding-top: 8rem;
  padding-bottom: 15rem;
}

@media screen and (max-width: 479px) {
  .padding-global.is-wedesh-image-padding {
    padding-top: 2.5rem;
    padding-bottom: 16rem;
  }
}

.container-large {
  width: 100%;
  max-width: 84rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .container-large.is-mobile-menu {
    height: 100%;
    max-width: none;
  }
}

.footer_top-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer_main-content-wrapper {
  display: flex;
  margin-bottom: 7.5rem;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .footer_main-content-wrapper {
    margin-bottom: 2.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
}

.footer_sitemap-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
}

@media screen and (max-width: 479px) {
  .footer_sitemap-wrapper {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.footer_brandemic-logo {
  height: 3.5rem;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 479px) {
  .footer_brandemic-logo {
    margin-bottom: 2rem;
  }
}

.footer_sitemap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 479px) {
  .footer_sitemap {
    grid-column-gap: 0.875rem;
    grid-row-gap: 0.875rem;
  }
}

.footer_link {
  transition: color 300ms cubic-bezier(.25, .46, .45, .94);
  color: var(--text-color--text-primary);
  font-weight: 500;
  text-decoration: none;
}

.footer_link:hover {
  color: var(--link-color--link-primary);
}

.footer_link.is-policy-link {
  color: var(--link-color--link-primary);
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .footer_link.is-policy-link {
    font-size: 0.875rem;
  }
}

.link--animated {
  position: relative;
  width: max-content;
}

.footer_link.is-mail {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .footer_link.is-mail {
    font-size: 0.75rem;
  }
}

.footer_newsletter {
  width: 26.25rem;
}

@media screen and (max-width: 479px) {
  .footer_newsletter {
    width: 100%;
  }
}

.newsletter_label {
  margin-bottom: 1.25rem;
  font-family: var(--primary-font);
  color: var(--text-color--text-secondary);
}

@media screen and (max-width: 479px) {
  .newsletter_label {
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }
}

.newsletter_form-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .newsletter_form-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.newsletter_form-field {
  width: 21.75rem;
  height: 3.75rem;
  margin-bottom: 0px;
  padding-left: 2rem;

  border: 1.5px solid var(--text-color--text-primary);
  border-radius: 6rem;

  background-color: hsla(0, 0.00%, 100.00%, 0.00);

  font-family: var(--primary-font);
  color: var(--text-color--text-primary);
}

.newsletter_form-field::placeholder {
  font-family: var(--primary-font);
  color: var(--text-color--text-primary);
}

@media screen and (max-width: 479px) {
  .newsletter_form-field {
    width: 100%;
    height: 3.25rem;
    font-size: 0.875rem;
  }
}

.newsletter_button {
  width: 3.75rem;
  height: 3.75rem;

  border-radius: 6.25rem;

  background-color: var(--background-color--background-alternate);
  background-image: url("https://cdn.prod.website-files.com/6784bd18b70916c654145eaa/6794e9f39097b95860387f5b_submit%20arrow.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 479px) {
  .newsletter_button {
    width: 3.25rem;
    height: 3.25rem;
    min-width: 3.25rem;
    background-size: 22px;
  }
}

.footer_limitless {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 479px) {
  .footer_limitless {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.footer_cta-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.think-limitless {
  font-family: var(--primary-font);
  color: var(--base-color-brand--secondary-color);
  font-size: 10rem;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 5px;
  white-space: nowrap;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (max-width: 479px) {
  .think-limitless {
    font-size: 10.4vw;
    line-height: 120%;
    text-align: center;
    letter-spacing: 1.5px;
    white-space: normal;
  }
}

.footer_bottom-wrapper {
  display: grid;
  justify-content: space-between;
  justify-items: stretch;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .footer_bottom-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }
}

.text-size-small {
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 479px) {
  .text-size-small {
    font-size: 0.875rem;
  }
}

.text-weight-normal {
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .text-size-small.text-weight-normal.is-smaller {
    font-size: 0.625rem;
  }
}

.text-weight-light {
  font-weight: 300;
}

@media screen and (max-width: 479px) {
  .mobile-hidden {
    display: none !important;
  }
}

.text-weight-bold {
  font-weight: 700;
}

.made_by {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.text-weight-medium {
  font-weight: 500;
}

.text-size-large {
  font-size: 1.5rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .text-size-large {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .text-weight-medium.text-size-large.for-mobile {
    font-size: 0.5rem !important;
  }
}

.brandemic_logo {
  height: 1.4rem;
}

#w-node-_251afda7-b296-c88c-0698-20302f4963aa-2f49636f {
}