.nav_fixed {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.nav_component {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9999999;

  width: 100%;
  height: 75.6px;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: 2px solid #222;

  background-color: rgba(19, 19, 19, 0.4);

  backdrop-filter: blur(40px);

  transition: top 300ms cubic-bezier(.25, .46, .45, .94);
}

.padding-global {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-section-top {
  padding-top: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-top {
    padding-top: 2.5rem;
  }
}

.padding-left {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-medium {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-vision {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-small {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-section-small.is-footer {
  padding-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-small.is-footer {
    padding-bottom: 0.5rem;
  }
}

.padding-global.is-footer-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-style: solid;
  border-width: 2px 0px 0px;
  border-color: #333;
}

@media screen and (max-width: 479px) {
  .padding-global.is-footer-bottom {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.padding-section-bottom {
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-bottom {
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-blog-large {
  padding-top: 12rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-blog-large {
    padding-top: 8rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.is-wedesh-image-padding {
  padding-top: 8rem;
  padding-bottom: 15rem;
}

@media screen and (max-width: 479px) {
  .padding-global.is-wedesh-image-padding {
    padding-top: 2.5rem;
    padding-bottom: 16rem;
  }
}

.nav_container {
  display: flex;
  width: 100%;
  max-width: 84rem;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .nav_brand.link-hover-ix {
    padding-left: 0px;
  }
}

.nav_logo {
  width: 10rem;
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 2.25rem;
  grid-row-gap: 2.25rem;
}

.button {
  position: relative;

  overflow: hidden;
  padding: 0.5rem 1rem;

  border: 1.5px solid var(--text-color--text-primary);
  border-radius: 5rem;

  transition: transform 300ms cubic-bezier(.25, .46, .45, .94),border-color 300ms cubic-bezier(.25, .46, .45, .94),color 300ms cubic-bezier(.25, .46, .45, .94);

  color: var(--text-color--text-primary);
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover {
  border-color: var(--base-color-brand--primary-color);
  color: var(--text-color--text-primary);
  text-decoration: none;
}

.button:global(.w--current) {
  color: var(--text-color--text-primary);
}

@media screen and (max-width: 479px) {
  .button {
    padding: 0.3rem 1rem;
    font-size: 0.875rem;
  }
}

.button.is-text {
  border: 2px solid transparent;
  background-color: transparent;
  color: var(--text-color--text-primary);
}

.button.is-text:hover {
  color: var(--link-color--link-primary);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button.is-form-submit {
  margin-top: 5rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--text-color--text-secondary);
  background-color: transparent;
  transition: border-color 300ms cubic-bezier(.55, .085, .68, .53);
  color: var(--text-color--text-secondary);
}

.button.is-secondary:hover {
  color: var(--text-color--text-primary);
}

.button.is-icon-white {
  position: relative;

  display: flex;
  padding: 0.75rem 1.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-width: 0px;

  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .button.is-icon-white {
    padding: 0.3rem 1rem;
  }
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.button.is-icon-green {
  position: relative;

  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-width: 0px;

  color: var(--text-color--text-secondary);
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .button.is-icon-green {
    padding: 0.3rem 1rem;
  }
}

.button.is-icon-green.is-form-submit {
  display: inline-flex;
}

@media screen and (max-width: 479px) {
  .button.is-icon-green.link-hover-ix.mobile-hidden {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .mobile-hidden {
    display: none !important;
  }
}

.button.is-icon-green.link-hover-ix.desktop-hidden {
  display: none;
}

@media screen and (max-width: 479px) {
  .button.is-icon-green.link-hover-ix.desktop-hidden {
    display: flex;
  }
}

.desktop-hidden {
  display: none;
}

@media screen and (max-width: 479px) {
  .desktop-hidden {
    display: block;
  }
}

.button.is-fill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;

  border-width: 0px;
  border-color: hsla(0, 0.00%, 99.61%, 0.00);
  border-radius: 6.25rem;
}

.button.is-fill:hover {
  color: var(--base-color-brand--dark-color);
}

.button.is-fill.link-hover-ix {
  transition-duration: 300ms, 300ms, 200ms;
}

.button.is-fill.link-hover-ix:hover {
  color: var(--base-color-brand--dark-color);
}

@media screen and (max-width: 479px) {
  .button.is-fill.link-hover-ix.mobile-hidden {
    display: none;
  }
}

.button.is-fill.is-submit-button {
  margin-top: 5rem;
  padding: 0rem;
}

.button.is-fill.is-submit-button:hover {
  color: var(--base-color-brand--dark-color);
}

.button__flair {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  pointer-events: none;

  transform: scale(0);
  transform-origin: 0% 0%;
}

.button__label {
  position: relative;
  background-color: hsla(208.00000000000003, 82.57%, 57.25%, 0.00);
  text-align: center;
}

.button__label.is-submit {
  z-index: 9;
}

.button-background-fill {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;

  background-color: var(--base-color-brand--primary-color);

  transform: translate(0px, 100%);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);

  clip-path: inset(100% 0% 0%);
}

.button_texts-containr {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-text {
  position: relative;
  z-index: 1;
  transition: all 300ms cubic-bezier(.25, .46, .45, .94);
}

.link-text.is-one {
  position: absolute;
  transform: translate(0px, 0px);
  clip-path: inset(0%);
}

.link-text.is-two {
  position: absolute;
  transform: translate(0px, 100%);
  clip-path: inset(100% 0% 0%);
}

.link-text.is-hidden {
  clip-path: inset(100% 0% 0%);
}

.hamburger_link {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-self: center;

  color: var(--base-color-neutral--white);

  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.line {
  width: 2rem;
  height: 2px;
  background-color: var(--base-color-brand--light-white);
  transition: opacity 300ms cubic-bezier(.25, .46, .45, .94),transform 300ms cubic-bezier(.25, .46, .45, .94);
}

.nav_button {
  padding: 1rem;
}

@media screen and (max-width: 991px) {
  .nav_button {
    color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

.mega_menu {
  position: fixed;
  z-index: 999999;

  display: none;
  width: 100vw;
  height: 100svh;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: stretch;

  background-color: var(--base-color-brand--dark-color);

  transition: all 300ms cubic-bezier(.25, .46, .45, .94);
}

@media screen and (max-width: 479px) {
  .mega_menu {
    display: none;
    justify-content: flex-end;
    align-items: stretch;
  }
}

.mega_menu-gradient {
  position: absolute;
  top: -1.5rem;
  right: -10.75rem;
  z-index: 0;

  width: 57.5rem;
  height: 57.5rem;

  background-image: radial-gradient(circle closest-side at 50% 50%, #3e22a4, var(--base-color-brand--dark-color));

  filter: blur(5px);

  transition: transform 400ms cubic-bezier(.25, .46, .45, .94);
}

@media screen and (max-width: 479px) {
  .mega_menu-gradient {
    right: -5rem;
    width: 24rem;
    height: 24rem;
  }
}

.container-large {
  width: 100%;
  max-width: 84rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .container-large.is-mobile-menu {
    height: 100%;
    max-width: none;
  }
}

.mega_menu-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 479px) {
  .mega_menu-wrapper {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-start;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }
}

.nav_link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}

@media screen and (max-width: 479px) {
  .nav_link-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }
}

.nav_link-block {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;

  color: var(--text-color--text-primary);
}

.nav_link-block:hover {
  color: var(--link-color--link-secondary);
}

.nav_link-block:global(.w--current) {
  color: var(--text-color--text-alternate);
}

@media screen and (max-width: 479px) {
  .nav_link-block:hover {
    color: var(--link-color--link-secondary);
  }
}

.nav_link-block.link-hover-ix:hover {
  color: var(--text-color--text-alternate);
}

.nav_arrow-icon {
  position: absolute;
  left: 0px;
  width: 1.5rem;
  opacity: 0;
  transform: translate(-20px, 0px);
}

.nav_link {
  position: relative;

  padding-left: 10px;

  transition: color 300ms cubic-bezier(.25, .46, .45, .94);

  font-family: var(--primary-font);
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  .nav_link {
    padding-left: 0px;
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.nav_image {
  position: absolute;
  right: -17rem;

  width: 12rem;
  height: 8rem;
  min-width: 12rem;

  border-radius: 6px;

  opacity: 0;
  pointer-events: none;

  transform: scale(0.8) translate(0px, -10px);
  transition: transform 300ms cubic-bezier(.25, .46, .45, .94);

  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .nav_image {
    right: -10.5rem;
    width: 7rem;
    height: 4rem;
    min-width: 7rem;
    border-radius: 0.25rem;
  }
}

.nav_link-block-services {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;

  color: var(--text-color--text-primary);
}

.nav_link-block-services:hover {
  color: var(--link-color--link-secondary);
}

@media screen and (max-width: 479px) {
  .nav_link-block-services:hover {
    color: var(--link-color--link-secondary);
  }
}

.nav_link-block-services.link-hover-ix:hover {
  color: var(--text-color--text-alternate);
}

.sub_nav-wrapper {
  position: absolute;
  right: -21.8rem;

  display: flex;
  padding-left: 5.6rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 479px) {
  .sub_nav-wrapper {
    right: -13.2rem;
    padding-left: 2.4rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.sub_nav-link {
  display: none;

  transition: color 300ms cubic-bezier(.25, .46, .45, .94);

  color: var(--text-color--text-primary);
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
}

.sub_nav-link:hover {
  color: var(--link-color--link-secondary);
}

.sub_nav-link:global(.w--current) {
  color: var(--text-color--text-alternate);
}

@media screen and (max-width: 479px) {
  .sub_nav-link {
    display: none;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

.mega_menu-cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 479px) {
  .mega_menu-cta {
    width: 100%;
  }
}

.header_newsletter {
  width: 26.25rem;
}

@media screen and (max-width: 479px) {
  .header_newsletter {
    width: 100%;
  }
}

.newsletter_label {
  margin-bottom: 1.25rem;
  font-family: var(--primary-font);
  color: var(--text-color--text-secondary);
}

@media screen and (max-width: 479px) {
  .newsletter_label {
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }
}

.newsletter_form-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .newsletter_form-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.newsletter_form-field {
  width: 21.75rem;
  height: 3.75rem;
  margin-bottom: 0px;
  padding-left: 2rem;

  border: 1.5px solid var(--text-color--text-primary);
  border-radius: 6rem;

  background-color: hsla(0, 0.00%, 100.00%, 0.00);

  font-family: var(--primary-font);
  color: var(--text-color--text-primary);
}

.newsletter_form-field::placeholder {
  font-family: var(--primary-font);
  color: var(--text-color--text-primary);
}

@media screen and (max-width: 479px) {
  .newsletter_form-field {
    width: 100%;
    height: 3.25rem;
    font-size: 0.875rem;
  }
}

.newsletter_button {
  width: 3.75rem;
  height: 3.75rem;

  border-radius: 6.25rem;

  background-color: var(--background-color--background-alternate);
  background-image: url("https://cdn.prod.website-files.com/6784bd18b70916c654145eaa/6794e9f39097b95860387f5b_submit%20arrow.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 479px) {
  .newsletter_button {
    width: 3.25rem;
    height: 3.25rem;
    min-width: 3.25rem;
    background-size: 22px;
  }
}

.social_links-wrapper {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.social_links-wrapper.is-mega-menu {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .social_links-wrapper.is-mega-menu {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.social_link {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
  color: var(--text-color--text-primary);
  fill: white;
}

.social_link:hover {
  color: var(--text-color--text-secondary);
  fill: #38c67f;
}

.social_link-icon {
  height: 1.25rem;
}

.social_link-icon.is-mega-menu {
  height: 2rem;
}

@media screen and (max-width: 479px) {
  .social_link-icon.is-mega-menu {
    height: 1.5rem;
  }
}

.youtube_play-button {
  color: var(--base-color-brand--dark-color);
}

#w-node-_8f63faa6-006b-044a-2a46-a483ba5e8d3a-63dfdea9 {
}
#w-node-_5320a293-3be4-0349-545b-72567cd6388c-63dfdea9 {
}
#w-node-_2e142100-1522-ac90-13c5-798abb8142e0-63dfdea9 {
  align-self: center;
  justify-self: end;
}
#w-node-bd4f39b0-27b5-4961-36d6-0e7917e00755-63dfdea9 {
}
#w-node-f7ec79f5-7472-a7ba-a2f6-c741935203cf-63dfdea9 {
  align-self: center;
  justify-self: center;
}
#w-node-_2e142100-1522-ac90-13c5-798abb8142e1-63dfdea9 {
}
#w-node-_3fdb6126-7175-cc9a-9d09-826ba89354d1-63dfdea9 {
  align-self: center;
  justify-self: center;
}
#w-node-_2e142100-1522-ac90-13c5-798abb8142e5-63dfdea9 {
}
#w-node-e9a47eba-e7f3-037e-9dd2-135512a220db-63dfdea9 {
  align-self: center;
  justify-self: center;
}
#w-node-_2e142100-1522-ac90-13c5-798abb8142e8-63dfdea9 {
}
#w-node-_7c38db93-2403-0ea0-b5dd-982701a5d9aa-63dfdea9 {
  align-self: center;
  justify-self: center;
}
#w-node-_93d3b07a-80fe-cd41-86d0-c80086217ea5-63dfdea9 {
  align-self: center;
  justify-self: center;
}
#w-node-_2e142100-1522-ac90-13c5-798abb8142ee-63dfdea9 {
}
#w-node-_40b6029d-2e94-8956-cf5f-75abb50c5484-63dfdea9 {
  align-self: center;
  justify-self: center;
}
#w-node-_2e142100-1522-ac90-13c5-798abb8142f1-63dfdea9 {
}