.section_case_study-related {
  overflow: hidden;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 5rem;
}

@media screen and (max-width: 991px) {
  .spacer-xhuge {
    padding-top: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .spacer-xhuge {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .spacer-xhuge {
    padding-top: 2.5rem;
  }
}

.padding-global {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-section-top {
  padding-top: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-top {
    padding-top: 2.5rem;
  }
}

.padding-left {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-medium {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium.is-mobile-vision {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-small {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-section-small.is-footer {
  padding-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-small.is-footer {
    padding-bottom: 0.5rem;
  }
}

.padding-global.is-footer-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-style: solid;
  border-width: 2px 0px 0px;
  border-color: #333;
}

@media screen and (max-width: 479px) {
  .padding-global.is-footer-bottom {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.padding-section-bottom {
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-section-bottom {
    padding-bottom: 2.5rem;
  }
}

.padding-global.padding-blog-large {
  padding-top: 12rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-blog-large {
    padding-top: 8rem;
    padding-bottom: 2.5rem;
  }
}

.padding-global.is-wedesh-image-padding {
  padding-top: 8rem;
  padding-bottom: 15rem;
}

@media screen and (max-width: 479px) {
  .padding-global.is-wedesh-image-padding {
    padding-top: 2.5rem;
    padding-bottom: 16rem;
  }
}

.container-xlarge {
  width: 100%;
  max-width: 84rem;
  margin-right: auto;
  margin-left: auto;
}

.container-xlarge.is-case_study-hero {
  margin-top: 3.25rem;
}

@media screen and (max-width: 479px) {
  .container-xlarge.is-case_study-hero {
    margin-top: 1.25rem;
  }
}

.case_study-seperator {
  height: 1px;
  background-color: rgba(254, 254, 254, 0.2);
}

.related_portfolio-wrapper {
  margin-top: 3.25rem;
}

@media screen and (max-width: 479px) {
  .related_portfolio-wrapper {
    margin-top: 2.5rem;
  }
}

.work_images-wrapper {
  position: relative;
  z-index: 0;

  width: 25rem;
  height: 25rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .work_images-wrapper {
    width: 15rem;
    height: 15rem;
    margin-right: 0px;
    margin-left: -1rem;
  }
}

.work_images-wrapper.flex-layout {
  margin-right: 0px;
  margin-left: 0px;
  align-items: stretch;
  width: max-content;
}

.flex-layout {
  display: flex;
}

.work_image {
  position: absolute;

  overflow: hidden;
  width: 25rem;
  height: 25rem;
  margin-left: 1rem;

  border-radius: 1rem;

  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;

  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .work_image {
    width: 15rem;
    height: 15rem;
    border-radius: 0.5rem;
  }
}

.work_image.is-one {
  z-index: 3;
}

.work_image.is-two {
  z-index: 2;
}

.work_image.is-three {
  z-index: 1;
}

.full-dimensions {
  width: 100%;
  height: 100%;
}

.image-full {
  width: 100%;
  height: 100%;
  transition: all 300ms cubic-bezier(.25, .46, .45, .94);
  object-fit: cover;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 8rem;
}

@media screen and (max-width: 991px) {
  .spacer-xxhuge {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .spacer-xxhuge {
    padding-top: 4.5rem;
  }
}

@media screen and (max-width: 479px) {
  .spacer-xxhuge {
    padding-top: 2.5rem;
  }
}