.social_links-wrapper {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.social_links-wrapper.is-mega-menu {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .social_links-wrapper.is-mega-menu {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.social_link {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
  color: var(--text-color--text-primary);
  fill: white;
}

.social_link:hover {
  color: var(--text-color--text-secondary);
  fill: #38c67f;
}

.social_link-icon {
  height: 1.25rem;
}

.social_link-icon.is-mega-menu {
  height: 2rem;
}

@media screen and (max-width: 479px) {
  .social_link-icon.is-mega-menu {
    height: 1.5rem;
  }
}

.youtube_play-button {
  color: var(--base-color-brand--dark-color);
}

#w-node-_81dbc016-e07b-083c-de18-da3e894d5fe1-894d5fe1 {
  align-self: center;
  justify-self: end;
}
#w-node-_5737e3bc-dc55-1640-bdb0-1a261edefe35-894d5fe1 {
}
#w-node-_0c8d4a15-3e44-5476-8563-8f13fe30d7d3-894d5fe1 {
  align-self: center;
  justify-self: center;
}
#w-node-_81dbc016-e07b-083c-de18-da3e894d5fe2-894d5fe1 {
}
#w-node-c6b66ca7-fa4d-492f-1c6c-9bf2137aef8b-894d5fe1 {
  align-self: center;
  justify-self: center;
}
#w-node-_81dbc016-e07b-083c-de18-da3e894d5fe6-894d5fe1 {
}
#w-node-_0865ed1e-7784-9784-2fe6-68c2305b532d-894d5fe1 {
  align-self: center;
  justify-self: center;
}
#w-node-_81dbc016-e07b-083c-de18-da3e894d5fe9-894d5fe1 {
}
#w-node-_68c4ece7-d4fc-c199-2d2e-c5c553c7624a-894d5fe1 {
  align-self: center;
  justify-self: center;
}
#w-node-_6a37417d-a93d-38fd-5b2f-a5db3b2d9ec4-894d5fe1 {
  align-self: center;
  justify-self: center;
}
#w-node-f3490476-15b8-8b39-771d-edc394003611-894d5fe1 {
  align-self: center;
  justify-self: center;
}
#w-node-_81dbc016-e07b-083c-de18-da3e894d5ff2-894d5fe1 {
}