.testimonials_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .testimonials_wrapper {
    text-align: center;
  }
}

.testimonials_header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.text-size-medium {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media screen and (max-width: 479px) {
  .text-size-medium {
    font-size: 1.125rem;
  }
}

.text-weight-medium {
  font-weight: 500;
}

.text-weight-bold {
  font-weight: 700;
}

.text-weight-semibold {
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  .text-size-medium.text-weight-semibold.is-smaller {
    font-size: 1rem;
  }
}

.text-weight-normal {
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .text-size-medium.text-weight-normal.is-contact-us {
    font-size: 1rem;
  }
}

.text-weight-light {
  font-weight: 300;
}

@media screen and (max-width: 479px) {
  .text-size-medium.is-mobile-testimonials {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .animated-chars.is-mobile {
    font-size: 2rem;
  }
}

.testimonial_swiper-container {
  position: relative;

  display: flex;
  width: 100%;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .testimonial_swiper-container {
    margin-top: 1.25rem;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;

    text-align: left;
  }
}

.swiper.is-featured-works {
  overflow: hidden;
  width: 100%;
  height: 36rem;
  margin-top: 5rem;
}

.swiper.is-testimonials {
  width: 54.375rem;
  height: 25rem;
}

@media screen and (max-width: 479px) {
  .swiper.is-testimonials {
    width: 100%;
    height: auto;
  }
}

.swiper.is-tools {
  width: 42.25rem;
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (max-width: 479px) {
  .swiper.is-tools {
    width: 100%;
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .swiper.is-process {
    width: 100%;
  }
}

.swiper.is-featured-swiper {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide.featured-works_slide {
  width: 36rem;
  height: 36rem;
  transition: width 300ms cubic-bezier(.25, .46, .45, .94);
}

.swiper-slide.is-testimonials-slide {
  overflow: hidden;
  border-radius: 0.75rem;
}

.swiper-slide.is-tools-slide {
  overflow: hidden;
  width: 18rem;
  height: 16rem;
  border-radius: 0.625rem;
  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .swiper-slide.is-tools-slide {
    width: 11rem;
    height: 9.5rem;
    border-radius: 0.25rem;
  }
}

.testimonial_slide {
  position: relative;

  display: flex;
  width: 54.375rem;
  height: 25rem;
  padding: 2rem 4rem;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;

  background-color: #343434;
}

@media screen and (max-width: 479px) {
  .testimonial_slide {
    width: 100%;
    height: 26rem;
    padding: 1rem;
  }
}

.reviewer-details_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 479px) {
  .reviewer-details_wrapper {
    position: relative;
    z-index: 1;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.reviewer_image {
  display: none;
  height: 3.375rem;
}

.reviewer-details_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
}

.text-size-small {
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 479px) {
  .text-size-small {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 479px) {
  .text-size-small.text-weight-normal.is-smaller {
    font-size: 0.625rem;
  }
}

@media screen and (max-width: 479px) {
  .mobile-hidden {
    display: none !important;
  }
}

.testimonials_double-quotes {
  position: absolute;
  left: auto;
  top: auto;
  right: 2.125rem;
  bottom: 1.25rem;

  height: 10rem;
}

@media screen and (max-width: 479px) {
  .testimonials_double-quotes {
    right: 1.25rem;
    z-index: 0;
    height: 4rem;
    opacity: 0.5;
  }
}

.swiper-navigation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

  user-select: none;
}

.swiper-navigation-wrapper.is-testimonials {
  position: absolute;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .swiper-navigation-wrapper.is-testimonials {
    position: relative;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .swiper-navigation-wrapper.is-service-featured {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;

    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.swiper-navigation-wrapper.is-process {
  position: absolute;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .swiper-navigation-wrapper.is-process {
    position: relative;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.swiper_nav-button-2 {
  display: flex;
  width: 3.25rem;
  height: 3.25rem;
  justify-content: center;
  align-items: center;

  border: 1px solid #747474;
  border-radius: 5rem;

  transition: border-color 300ms cubic-bezier(.25, .46, .45, .94),color 300ms cubic-bezier(.25, .46, .45, .94);

  color: #747474;

  cursor: pointer;
}

.swiper_nav-button-2:hover {
  border-color: #fefefe;
  color: #fefefe;
}

@media screen and (max-width: 479px) {
  .swiper_nav-button-2 {
    width: 2.125rem;
    height: 2.125rem;
  }
}

.swiper_nav-button-2.testimonials-prev {
  transform: rotate(180deg);
}

@media screen and (max-width: 479px) {
  .swiper_nav-button-2.process-prev {
    border-color: var(--base-color-brand--light-white);
    transform: rotate(180deg);
    color: var(--base-color-brand--light-white);
  }
}

@media screen and (max-width: 479px) {
  .swiper_nav-button-2.process-next {
    border-color: var(--base-color-brand--light-white);
    color: var(--base-color-brand--light-white);
  }
}

.swiper_nav-button-2.featured-prev {
  transform: rotate(180deg);
}

.featured-works_arrow-icon {
  height: 0.5rem;
}